{% extends "base.html" %}

{% block slider %}
{% endblock %}

{% block gym %}
{% endblock %}

{% block latest %}
{% endblock %}

{% block about %}
		
    <div id="breadcrumb">
                <div class="container">
                    <div class="breadcrumb">
                        <li style="color:red"><a href="{% url 'index' %}">HOME</a></li>
                        <li style="color:red">Health and Wellness</li>
                    </div>
                </div>
            </div>

            <div class="about">
                <div class="container">
                    <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <h2 style="text-align:center">Massages</h2>
                        <img src="/static/images/Health and wellness/h2.jpg" class="img-responsive" />
                        <p>
                            Enjoyable steambath, sauna ,spa, jaccuzi,massage for relaxation and enjoyment
                        </p>
                    </div>

                    <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <h2 style="text-align:center">Spa</h2>
                        <img src="/static/images/Health and wellness/h4.jpg" class="img-responsive" />
                        <p>
                            The Hotel prides itself on impeccable service tailored to the needs and wants of each guest.
                            Our friendly staff goes to great lengths to ensure a warm, welcoming reception. Your pleasure is guaranteed!
                        </p>
                    </div>


                    <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <h2 style="text-align:center">Gym</h2>
                        <img src="/static/images/Health and wellness/h6.jpg" class="img-responsive" />
                        <p>
                            Our gym is equipped with the state of the art equipment from the leading manufacturers.
                            Our friendly staff goes to great lengths to ensure a warm, welcoming reception. Your pleasure is guaranteed!
							

                    </div>


                    <div class="col-md-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">


                            <hr style="width: 100%; color: black; height: 1px; background-color:#EEE;" />

                            <hr style="width: 100%; color: black; height: 1px; background-color:#EEE;" />

                            <hr style="width: 100%; color: black; height: 1px; background-color:#EEE;" />


                            <hr style="width: 100%; color: black; height: 1px; background-color:#FFF;" />

                            <hr style="width: 100%; color: black; height: 1px; background-color:#EEE;" />

                    </div>





            </div>
    </div>

{% endblock %}